{{#if currentUser}}
<div class="header">
    <h2>MEMBER$ ONLY</h2>
    <div class="profile">
        <a href="profile">
        {{currentUser.fullname}}
        <span class="member-status">
        {{#if currentUser.admin}}
        [ADMIN]
        {{else}}
            {{#if currentUser.member}}
            [MEMBER]
            {{else}}
            [VIEWER]
            {{/if}}
        {{/if}}
        </span>
        </a> |
        <a href="/log-out">Logout</a>
    </div>
</div>
<div>

</div>

{{else}}
    <div>
        <h1>MEMBER$ ONLY</h1>
        <form action="/log-in" method="POST">
        <input name="username" placeholder="USERNAME" type="text" />
        <input name="password" placeholder="PASSWORD" type="password" />
        <button>LOG IN</button>
        </form>
        <a href="/sign-up">SIGN UP</a>
    </div>
    {{#if message}}
    <ul class="errors">
        <li>{{message}}</li>
    </ul>
    {{/if}}
{{/if}}





